<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/main.css">
    <title>About</title>
</head>
<body>
    
      <a class="nameHeader" href="#">WEB322 - Yusuff Oyediran</a>

      <nav class="navbar">  

        <div class="collapse navbar-collaps">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/shop">Shop</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/items">Items</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/categories">Categories</a>
            </li>

          </ul>

        </div>

      </nav>
    
      <div class="aboutCol">
            <h2>About</h2>
            <p>My name is Yusuff Oyediran, a Seneca Student currently studying Computer Programming & Analysis in the 3rd and 4th semesters. 
              I have an obsession with creating things from scratch <br> like designing and developing websites, mobile apps and engineering. 
              I love making music and watching movies. I believe that music is indeed my calling. <br> 
              I find myself singing and making melodies in my head, in fact, you can listen to my new music using this link 
              <a href="https://linktr.ee/ogtobesin?utm_source=linktree_profile_share&ltsid=75bfdcf9-4273-4b8c-88a6-034c1e959cd6" target="_blank">My latest song</a>. 
              Enough of music. I have so many goals in life but one of them is to change how people think of Africa as a darkout continent and poor. </p>
      </div>

      <div class="soonCol">
            <h2>Coming Soon</h2>
            <p>Stay tuned for future updates...</p>
      </div>
      
</body>

</html>

